* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
}

$primary-color : #ff4544;

$secondary-color: #d0393a;

$section-color: #f4f4f4;

$breakpoint-small : 550px;

$breakpoint-medium : 800px;

$breakpoint-large : 1000px;

body {
  font-family: 'Raleway', sans-serif;
}

li {
  list-style: none;
}

@mixin centerAlign {
  align-items: center;
  justify-content: center;
}

%outer-circle {
  @include centerAlign;
  border-radius: 50%;
  height: 30px;
  opacity: 0.5;
  width: 30px;

  @keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

%inner-circle {
  background-color: $primary-color;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

@mixin tiltedSquare {
  @include centerAlign;
  height: 70px;
  transform: rotate(45deg);
  width: 70px;

  i {
    transform: rotate(-45deg);
  }
}

.flex {
  display: flex;
}

.float-right {
  float: right;
}

.margin-auto {
  margin: auto;
}

ul {
  display: none;
}

#contact, header {
  background-color: $primary-color;
  color: #fff;
  position: relative;
}

.animate-area {
  height: inherit;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .square {
    @include centerAlign;
    animation: rotate 15s infinite linear;
    background-color: #f23334;
    box-shadow: 20px 30px 20px $secondary-color;
    height: 230px;
    opacity: 0.8;
    transform: rotate(45deg);
    width: 230px;

    @keyframes rotate {
      from {
        transform: rotate(45deg);
      }
      to {
        transform: rotate(-45deg);
      }
    }

    .inner-square {
      background-color: #ff4544;
      box-shadow: 20px 30px 20px inset $secondary-color;
      height: 130px;
      width: 130px;
    }
  }

  .big-circle {
    animation: revolve 30s infinite ease-in;
    background: radial-gradient(#fd4042 45%, #e81d30);
    border-radius: 50%;
    height: 220px;
    width: 220px;

    @keyframes revolve {
      0% {
        transform: translate(-30%, -30%);
      }
      25% {
        transform: translate(110%, -30%);
      }
      50% {
        transform: translate(110%, 150%);
      }
      75% {
        transform: translate(-30%, 150%);
      }
      100% {
        transform: translate(-30%, -30%);
      }
    }
  }

  .small-outer-circle {
    @extend %outer-circle;
    animation: grow 10s infinite linear;
    background-color: #fff;
    margin: 10px;
  }

  .small-inner-circle {
    @extend %inner-circle;
  };

  .red-outer-circle {
    @extend %outer-circle;
    animation: grow 15s infinite ease-in-out;
    background-color: #db3c3d;
    height: 60px;
    width: 60px;
  }

  .red-inner-circle {
    @extend %inner-circle;
    height: 55px;
    width: 55px;
  }
}

header {
  /*background-color: $primary-color;
  color: #fff;
  position: relative;*/
  height: 550px;

  .header-text {
    flex-direction: column;
    height: inherit;
    justify-content: center;
    position: absolute;
    width: 100%;

    section {
      align-self: center;
      flex-direction: column;

      * {
        text-align: center;
        line-height: 40px;
      }

      h1 {
        font-weight: 500;
      }

      button {
        background: none;
        border: 1px solid #fff;
        color: inherit;
        margin: 15px auto;
        padding: 0px 8px;
      }
    }

    nav {
      background-color: $secondary-color;
      bottom: 0%;
      height: 55px;
      position: absolute;
      width: 100%;

      a {
        display: none;
      }

      ul {
        align-items: center;
        height: inherit;

        li {
          font-weight: 200;
          padding: 0px 10px;
          text-transform: uppercase;
        }

        li:first-child {
          padding-left: 7%;
        }
      }
    }
  }
}

main {
  background-color: $section-color;

  section {
    flex-direction: column;
    align-items: center;

    h2 {
      border-bottom:  5px solid $secondary-color;
      color: $secondary-color;
      font-size: 18px;
      margin: 5% 0% 8% 0%;
      max-width: 25%;
      text-align: center;
      text-transform: uppercase;
    }

    .about-rows {
      margin: 20px 0px 0px 0px;

      article {
        align-items: center;
        max-width: 50%;
        flex-direction: column;

        div {
          @include tiltedSquare;
          background-color: $primary-color;
        }

        p {
          font-size: 10px;
          line-height: 18px;
          padding: 15%;
          text-align: justify;

          b {
            font-size: 14px;
            font-weight: bold;
            color: $secondary-color;
          }
        }

        .fa-tablet {
          padding: 0px 0px 15px 20px;
        }
      }
    }
  }

  #work {
    @include centerAlign;
    min-width: 100%;

    article {
      height: 180px;
      margin: 30px auto;
      width: inherit;

      img {
        display: block;
        height: inherit;
        margin: 0px auto;
        width: 80%;
      }
    }
  }

  #contact {
    min-height: 300px;

    .animate-area {
      flex-direction: column;
      justify-content: space-between;
      min-height: inherit;

      div {
        justify-content: space-around;
      }
    }

    .contact-text {
      color: #fff;
      position: absolute;
      width: 100%;

      h2 {
        border-bottom: 5px solid #fff;
        color: inherit;
      }

      article {
        justify-content: space-around;

        div {
          @include tiltedSquare;
          background-color: #fff;
        }
      }
    }
  }
}

/**** Big screen sizes ****/

@media screen and (min-width: $breakpoint-small) {
  @keyframes revolve {
    0% {
      transform: translate(-30%, -30%);
    }
    25% {
      transform: translate(270%, -30%);
    }
    50% {
      transform: translate(270%, 180%);
    }
    75% {
      transform: translate(-30%, 180%);
    }
    100% {
      transform: translate(-30%, -30%);
    }
  }

  nav {
    li {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  @keyframes revolve {
    0% {
      transform: translate(-30%, -30%);
    }
    25% {
      transform: translate(350%, -30%);
    }
    50% {
      transform: translate(350%, 200%);
    }
    75% {
      transform: translate(-30%, 200%);
    }
    100% {
      transform: translate(-30%, -30%);
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  @keyframes revolve {
    0% {
      transform: translate(-30%, -40%);
    }
    25% {
      transform: translate(500%, -40%);
    }
    50% {
      transform: translate(500%, 200%);
    }
    75% {
      transform: translate(-30%, 200%);
    }
    100% {
      transform: translate(-30%, -40%);
    }
  }
}
