* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px; }

body {
  font-family: 'Raleway', sans-serif; }

li {
  list-style: none; }

.animate-area .small-outer-circle, .animate-area .red-outer-circle {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  opacity: 0.5;
  width: 30px; }
@keyframes grow {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.animate-area .small-inner-circle, .animate-area .red-inner-circle {
  background-color: #ff4544;
  border-radius: 50%;
  height: 25px;
  width: 25px; }

.flex {
  display: flex; }

.float-right {
  float: right; }

.margin-auto {
  margin: auto; }

nav ul {
  display: none; }

#contact, header {
  background-color: #ff4544;
  color: #fff;
  position: relative; }

.animate-area {
  height: inherit;
  overflow: hidden;
  position: absolute;
  width: 100%; }
  .animate-area .square {
    align-items: center;
    justify-content: center;
    animation: rotate 15s infinite linear;
    background-color: #f23334;
    box-shadow: 20px 30px 20px #d0393a;
    height: 230px;
    opacity: 0.8;
    transform: rotate(45deg);
    width: 230px; }
@keyframes rotate {
  from {
    transform: rotate(45deg); }
  to {
    transform: rotate(-45deg); } }
    .animate-area .square .inner-square {
      background-color: #ff4544;
      box-shadow: 20px 30px 20px inset #d0393a;
      height: 130px;
      width: 130px; }
  .animate-area .big-circle {
    animation: revolve 30s infinite ease-in;
    background: radial-gradient(#fd4042 45%, #e81d30);
    border-radius: 50%;
    height: 220px;
    width: 220px; }
@keyframes revolve {
  0% {
    transform: translate(-30%, -30%); }
  25% {
    transform: translate(110%, -30%); }
  50% {
    transform: translate(110%, 150%); }
  75% {
    transform: translate(-30%, 150%); }
  100% {
    transform: translate(-30%, -30%); } }
  .animate-area .small-outer-circle {
    animation: grow 10s infinite linear;
    background-color: #fff;
    margin: 10px; }
  .animate-area .red-outer-circle {
    animation: grow 15s infinite ease-in-out;
    background-color: #db3c3d;
    height: 60px;
    width: 60px; }
  .animate-area .red-inner-circle {
    height: 55px;
    width: 55px; }

header {
  /*background-color: $primary-color;
  color: #fff;
  position: relative;*/
  height: 550px; }
  header .header-text {
    flex-direction: column;
    height: inherit;
    justify-content: center;
    position: absolute;
    width: 100%; }
    header .header-text section {
      align-self: center;
      flex-direction: column; }
      header .header-text section * {
        text-align: center;
        line-height: 40px; }
      header .header-text section h1 {
        font-weight: 500; }
      header .header-text section button {
        background: none;
        border: 1px solid #fff;
        color: inherit;
        margin: 15px auto;
        padding: 0px 8px; }
    header .header-text nav {
      background-color: #d0393a;
      bottom: 0%;
      height: 55px;
      position: absolute;
      width: 100%; }
      header .header-text nav a {
        display: none; }
      header .header-text nav ul {
        align-items: center;
        height: inherit; }
        header .header-text nav ul li {
          font-weight: 200;
          padding: 0px 10px;
          text-transform: uppercase; }
        header .header-text nav ul li:first-child {
          padding-left: 7%; }

main {
  background-color: #f4f4f4; }
  main section {
    flex-direction: column;
    align-items: center; }
    main section h2 {
      border-bottom: 5px solid #d0393a;
      color: #d0393a;
      font-size: 18px;
      margin: 5% 0% 8% 0%;
      max-width: 25%;
      text-align: center;
      text-transform: uppercase; }
    main section .about-rows {
      margin: 20px 0px 0px 0px; }
      main section .about-rows article {
        align-items: center;
        max-width: 50%;
        flex-direction: column; }
        main section .about-rows article div {
          align-items: center;
          justify-content: center;
          height: 70px;
          transform: rotate(45deg);
          width: 70px;
          background-color: #ff4544; }
          main section .about-rows article div i {
            transform: rotate(-45deg); }
        main section .about-rows article p {
          font-size: 10px;
          line-height: 18px;
          padding: 15%;
          text-align: justify; }
          main section .about-rows article p b {
            font-size: 14px;
            font-weight: bold;
            color: #d0393a; }
        main section .about-rows article .fa-tablet {
          padding: 0px 0px 15px 20px; }
  main #work {
    align-items: center;
    justify-content: center;
    min-width: 100%; }
    main #work article {
      height: 180px;
      margin: 30px auto;
      width: inherit; }
      main #work article img {
        display: block;
        height: inherit;
        margin: 0px auto;
        width: 80%; }
  main #contact {
    min-height: 350px; }
    main #contact .animate-area {
      flex-direction: column;
      justify-content: space-between;
      min-height: inherit; }
      main #contact .animate-area div {
        justify-content: space-around; }
    main #contact .contact-text {
      align-items: center;
      justify-content: center;
      color: #fff;
      flex-direction: column;
      position: absolute;
      width: 100%; }
      main #contact .contact-text h2 {
        border-bottom: 5px solid #fff;
        color: inherit;
        margin-bottom: 55px; }
      main #contact .contact-text section {
        width: inherit; }
        main #contact .contact-text section article {
          justify-content: space-around;
          margin-bottom: 50px; }
          main #contact .contact-text section article div {
            align-items: center;
            justify-content: center;
            height: 70px;
            transform: rotate(45deg);
            width: 70px;
            background-color: #fff;
            cursor: pointer; }
            main #contact .contact-text section article div i {
              transform: rotate(-45deg); }
            main #contact .contact-text section article div i {
              color: #ff4544; }
          main #contact .contact-text section article div:hover {
            background-color: #d0393a;
            color: #fff; }
  main footer {
    align-items: center;
    justify-content: center;
    background-color: #d0393a;
    color: #fff;
    font-size: 14px;
    flex-direction: column; }
    main footer * {
      padding: 5px 0px; }
    main footer ul {
      justify-content: space-around;
      width: 100%; }
      main footer ul li {
        pointer: cursor;
        text-transform: uppercase; }
    main footer p {
      margin-bottom: 10px; }

/**** Big screen sizes ****/
@media screen and (min-width: 550px) {
  @keyframes revolve {
    0% {
      transform: translate(-30%, -30%); }
    25% {
      transform: translate(270%, -30%); }
    50% {
      transform: translate(270%, 180%); }
    75% {
      transform: translate(-30%, 180%); }
    100% {
      transform: translate(-30%, -30%); } }
  nav li {
    font-size: 12px; }

  #contact {
    min-height: 250px !important; }
    #contact section {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      #contact section article {
        width: 100%; }

  footer {
    flex-direction: row !important;
    font-size: 10px !important;
    justify-content: space-between !important; }
    footer ul {
      width: 50% !important; }
    footer p {
      margin: 0px 15px 0px 0px !important; } }
@media screen and (min-width: 800px) {
  @keyframes revolve {
    0% {
      transform: translate(-30%, -30%); }
    25% {
      transform: translate(350%, -30%); }
    50% {
      transform: translate(350%, 200%); }
    75% {
      transform: translate(-30%, 200%); }
    100% {
      transform: translate(-30%, -30%); } } }
@media screen and (min-width: 1000px) {
  @keyframes revolve {
    0% {
      transform: translate(-30%, -40%); }
    25% {
      transform: translate(500%, -40%); }
    50% {
      transform: translate(500%, 200%); }
    75% {
      transform: translate(-30%, 200%); }
    100% {
      transform: translate(-30%, -40%); } } }

/*# sourceMappingURL=style.css.map */
